{% extends '::splash.html.twig' %}
{% set subtitle = 'Change Password' %}
{% set action = path('change_password') %}
{% block panelBody %}
    {{ form_widget(form) }}
{% endblock panelBody %}
{% block panelFooter %}
    <button type="submit" class="btn btn-large">change password</button>
{% endblock panelFooter %}
{% block userMenu %}
{% include '::userMenu.html.twig' %}
{% endblock userMenu %}