{% extends '::splash.html.twig' %}
{% set subtitle = 'Check Email'%}
{% block panelbody %}
    <p>A message has been sent to your email.</p>
{% endblock panelbody %}
{% block panelfooter %}
{% endblock panelfooter %}
