{% extends '::splash.html.twig' %}
{% set subtitle = 'Check Email'%}
{% block panelBody %}
    <p>A message has been sent to your email.</p>
{% endblock panelBody %}
{% block panelFooter %}
{% endblock panelFooter %}
