{% extends '::splash.html.twig' %}
{% set subtitle = 'Does Not Exist'%}
{% block panelbody %}
    <p>That email does not exist in the system.</p>
{% endblock panelbody %}
{% block panelfooter %}
{% endblock panelfooter %}
