{% extends '::splash.html.twig' %}
{% set subtitle = 'Inactive'%}
{% block panelbody %}
    <p>You are set as inactive.</p>
{% endblock panelbody %}
{% block panelfooter %}
{% endblock panelfooter %}
