{% extends '::splash.html.twig' %}
{% set subtitle = 'Inactive'%}
{% block panelBody %}
    <p>You are set as inactive.</p>
{% endblock panelBody %}
{% block panelFooter %}
{% endblock panelFooter %}
