{% extends '::splash.html.twig' %}
{% set subtitle = 'Register'%}
{% set action = path('registration') %}
{% block panelBody %}
    {{ form_widget(form) }}
{% endblock panelBody %}
{% block panelFooter %}
    <button type="submit" class="btn btn-large">register</button>
{% endblock panelFooter %}
