{% extends '::splash.html.twig' %}
{% set subtitle = 'Reset Password'%}
{% set action = path('reset_password') %}
{% block panelBody %}
    <label for="username">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
{% endblock panelBody %}
{% block panelFooter %}
    <button type="submit" class="btn btn-large">reset password</button>
{% endblock panelFooter %}